## Visual Studio ##
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## ASP.NET Core ##
Properties/

## Build ##
bin/
obj/
Debug/
Release/

## NuGet ##
*.nupkg
packages/
*.snupkg

## Entity Framework ##
Migrations/

## Rider ##
.idea/

## JetBrains ReSharper ##
_ReSharper*/
*.DotSettings.user

## User-specific files ##
*.log
*.vsconfig

## OS ##
.DS_Store
Thumbs.db

## Environment / Secrets ##
appsettings.json
appsettings.*.json
.env
